header{
    width: 100%;
    padding: 10px 0;
    background-color: rgb(4, 14, 53);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    color:rgb(248, 250, 252);
    font-family: ui-sans-serif, system-ui, sans-serif;
}
header h1{
    font-size: 36px;
    margin-bottom: 10px;
}
.paragrafoum{
    text-align: center;
    margin-top: 0;
}
body{
    background-color: rgb(241, 245, 249);
    margin: 0;
    color: rgb(33, 33, 33);
    font-family: ui-sans-serif, system-ui, sans-serif;
}
main{
    margin-left: 10px;
}
#verifiquealerta, #resultado, #comointerpretar{
    text-align: center;
    border: 1px solid;
    border-color: rgb(220, 225, 230);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 15px 0 8px;
    height: auto;
    width: 650px;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
}
#verifiquealerta h2, #resultado h2, #comointerpretar h2{
    margin-top: 0;
}
button{
    display: block;
    margin: 15px auto 0;
    background-color: rgb(4, 14, 53);
    color: rgb(248, 250, 252);
    border: none;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    width: 144px;
    height: 34px;
    padding: 8px 24px;
    border-radius: 25px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 550;
}
button:hover{
    opacity: 0.9;;
}
#Normal{
    background-color: rgb(84, 191, 92);
    color: rgb(17, 40, 18);
    border-radius: 15px;
    width: 100px;
    text-align: center;
    padding: 5px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    font-size: 17px;
}
#Atenção{
    background-color: rgb(249, 213, 68);
    color: rgb(80, 53, 0);
    border-radius: 15px;
    width:100px;
    text-align: center;
    padding: 5px 0;
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.15);
    margin: 0 auto;
    font-size:17px;
}
#Alerta{
    background-color: rgb(255, 137, 24);
    color: rgb(74, 32, 12);
    border-radius: 15px;
    width: 100px;
    text-align: center;
    padding: 5px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    font-size: 17px;
}
#Perigo{
    background-color: rgb(223, 34, 37);
    color: rgb(255, 246, 245);
    border-radius: 15px;
    width: 100px;
    text-align: center;
    padding: 5px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    font-size: 17px;
}
footer{
    width: 100%;
    text-align: center;
    background-color: rgb(200, 215, 230);
    padding: 10px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
#formAlerta {
    display: grid;
    grid-template-columns: 260px 160px;
    column-gap: 35px;
    row-gap: 15px;
    align-items: center;
    width: 455px;
    margin: 0 auto;
}
#formAlerta label {
    text-align: left;
    margin: 0;
}
#formAlerta input {
    width: 160px;
    height: 42px;
    box-sizing: border-box;
    padding: 8px 15px;
    border: 1px solid rgb(220, 225, 230);
    border-radius: 10px;
    font-size: 16px;
}
#formAlerta button {
    grid-column: 1 / 3;
    justify-self: center;
    margin:0;
    width: 145px;
    height: 38px;
    padding: 8px 15px;
    border-radius: 25px;
    font-size: 14px;
}
#resultado p{
    color: rgb(98, 116, 142);
}
#comointerpretar article {
    display: flex;
    align-items: center;
    margin: 16px 30px;
}
#comointerpretar h3 {
    flex: 0 0 120px;
    margin: 0;
}
#comointerpretar p {
    color: rgb(98, 116, 142);
    margin: 0 0 0 20px;
    text-align: left;
    line-height: 1.5;
}

#nivelAlerta {
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: bold;
}
.nivel-normal {
    background-color: rgb(84, 191, 92);
    color: rgb(17, 40, 18);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.nivel-atenção {
    background-color: rgb(249, 213, 68);
    color: rgb(80, 53, 0);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.nivel-alerta {
    background-color: rgb(255, 137, 24);
    color: rgb(74, 32, 12);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.nivel-perigo {
    background-color: rgb(223, 34, 37);
    color: rgb(255, 246, 245);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.nivel-invalido {
    background-color: rgb(220, 225, 230);
    color: rgb(33, 33, 33);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

@media (max-width: 700px) {
    #verifiquealerta,
    #resultado,
    #comointerpretar {
        width: 90%;
        box-sizing: border-box;
    }
    #formAlerta {
        width: 90%;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    #formAlerta label {
        text-align: center;
    }
    #formAlerta input {
        width: 160px;
        justify-self: center;
    }
    #formAlerta button {
        grid-column: 1;
    }
    #comointerpretar article {
        margin: 14px 15px;
    }
    #comointerpretar h3 {
        flex: 0 0 100px;
    }
    #comointerpretar p {
        margin-left: 15px;
    }
}